## Configuration for the Affresco builder
## This thing is quite similar to the Kconfig, use 'y'
## to have the component built in the "big file", 'm' to
## have it built as a single component.

CONFIG_JS = y
CONFIG_RUN_JSHINT = y

CONFIG_JS_AFFIX = y
CONFIG_JS_ALERT = y
CONFIG_JS_BUTTON = y
CONFIG_JS_CAROUSEL = y
CONFIG_JS_COLLAPSE = y
CONFIG_JS_DROPDOWN = y
CONFIG_JS_MODAL = y
CONFIG_JS_POPOVER = y
CONFIG_JS_SCROLLSPY = y
CONFIG_JS_TAB = y
CONFIG_JS_TOOLTIP = y
CONFIG_JS_TRANSITION = y
CONFIG_JS_TYPEAHEAD = y



CONFIG_CSS = y

CONFIG_CSS_ACCORDION = y
CONFIG_CSS_ALERTS = y
CONFIG_CSS_BREADCRUMBS = y
CONFIG_CSS_BUTTON_GROUPS = y
CONFIG_CSS_BUTTONS = y
CONFIG_CSS_CAROUSEL = y
CONFIG_CSS_CLOSE = y
CONFIG_CSS_CODE = y
CONFIG_CSS_COMPONENT_ANIMATIONS = y
CONFIG_CSS_DROPDOWNS = y
CONFIG_CSS_FORMS = y
CONFIG_CSS_GRID = y
CONFIG_CSS_HERO_UNIT = y
CONFIG_CSS_LABELS_BADGES = y
CONFIG_CSS_LAYOUTS = y
CONFIG_CSS_MEDIA = y
CONFIG_CSS_MIXINS = y
CONFIG_CSS_MODALS = y
CONFIG_CSS_NAVBAR = y
CONFIG_CSS_NAVS = y
CONFIG_CSS_PAGER = y
CONFIG_CSS_PAGINATION = y
CONFIG_CSS_POPOVERS = y
CONFIG_CSS_PROGRESS_BARS = y
CONFIG_CSS_RESET = y
CONFIG_CSS_SCAFFOLDING = y
CONFIG_CSS_SPRITES = y
CONFIG_CSS_TABLES = y
CONFIG_CSS_THUMBNAILS = y
CONFIG_CSS_TOOLTIP = y
CONFIG_CSS_TYPE = y
CONFIG_CSS_UTILITIES = y
CONFIG_CSS_VARIABLES = y
CONFIG_CSS_WELLS = y

CONFIG_CSS_RESPONSIVE_1200PX_MIN = y
CONFIG_CSS_RESPONSIVE_767PX_MAX = y
CONFIG_CSS_RESPONSIVE_768PX_979PX = y
CONFIG_CSS_RESPONSIVE_NAVBAR = y
CONFIG_CSS_RESPONSIVE_UTILITIES = y
