<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Affresco{{/i}}</h1>
    <p>{{_i}}Yet another UI/design library for the web.{{/i}}</p>
    <p>
      <a href="assets/affresco.zip" class="btn btn-primary btn-large">{{_i}}Download Affresco{{/i}}</a><br>
      <a href="assets/affresco.tar.gz" style="font-size:14px;">Download .tar.gz</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/rshk/affresco">{{_i}}GitHub project{{/i}}</a>
      </li>
      <li>
        <a href="./getting-started.html#examples">{{_i}}Examples{{/i}}</a>
      </li>
      <li>
        <a href="./extend.html">{{_i}}Extend{{/i}}</a>
      </li>
      <li>
        {{_i}}Version 0.1{{/i}}
      </li>
    </ul>
  </div>
</div>

<!-- <div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">{{_i}}Follow @twbootstrap{{/i}}</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
      </li>
    </ul>
  </div>
</div> -->

<div class="container">

  <div class="marketing">

    <h1>{{_i}}Introducing Affresco.{{/i}}</h1>
    <p class="marketing-byline">{{_i}}Affresco was born as a fork of Twitter Bootstrap.{{/i}}</p>

    <div class="alert alert-block">
      <h4>Warning!</h4>
      All the stuff you see here is still very much experimental.
      Many things in the documentation still refer to Bootstrap,
      as a lot of links do.<br>
      We're working on this, but the work on the library itself comes first.
    </div>

    <hr class="soften">

    <div class="row-fluid">
      <div class="span4">
        <h2>{{_i}}SCSS instead of LESS.{{/i}}</h2>
        <p>
          I like the power &amp; clarity of SCSS over LESS,
          plus this way we can use the awesome Compass library.
        </p>
      </div>
      <div class="span4">
        <h2>{{_i}}Easier to extend.{{/i}}</h2>
        <p>
          One of the main goals of the fork was to made the library
          easier to extend. What if I need a purple button, or a striped
          alert box?
        </p>
      </div>
      <div class="span4">
        <h2>{{_i}}Tools, not widgets.{{/i}}</h2>
        <p>
          Come on, how many times did the stock accordion or modal
          window fit exactly your needs, out of the box?
          Stop wrestling with built-in widgets, and create yor
          own, tailored on your needs!
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <h2>{{_i}}FontAwesome{{/i}}</h2>
        <p>
          Because FontAwesome is simply... awesome!
          And now, you'll be able to scale &amp; recolor icons
          with the lowest effort ever!
        </p>
      </div>
      <div class="span4">
        <h2>{{_i}}More layout/typography tools.{{/i}}</h2>
        <p>
          The default components provided by the library should
          be enough at least for its own documentation pages..
        </p>
      </div>
      <div class="span4">
        <h2>{{_i}}Improved build mechanism{{/i}}</h2>
        <p>
          The improved build mechanism takes some concepts from the Linux
          Kernel configuration system "Kconfig", in order to allow to
          define things to be built-in / built as components / excluded.
        </p>
      </div>
    </div>

    <hr class="soften">

    <h2>{{_i}}About Bootstrap.{{/i}}</h2>

    <p>
      Bootstrap is a LESS-powered CSS/JS library to create beautiful
      web interfaces. Affresco was based on the Bootstrap codebase,
      ported to the more powerful SCSS language.
    </p>

    <p>
      Does it even need presentations?
      <a href="http://twitter.github.com/bootstrap/">
        Visit the Bootstrap official page
      </a>.
    </p>

  </div>{{! /.marketing }}

</div>{{! /.container }}
